body {
  font:1.5em Helvetica, Arial;
  text-transform:lowercase;
  margin:1em;
}
p {
  font-size:1.4em;
}
a {
  text-decoration:none;
}
li {
  list-style:none;
}
li:before {
  content: '• ';
}
a.mail:before {
  content:'<';
}
a.mail:after {
  content:'>';
}

@media screen and (min-width: 481px) {
  li:first-child:before {
    content: '';
  }
  ul {
    padding:0;
  }
  li {
    display:inline;
  }
  body {
    text-align:center;
  }
  div {
    padding:2em 0;
  }
}

@media screen and (max-width: 480px) {
  ul {
    padding:0 1em;
  }
  li {
    display:block;
    padding:0.4em 0;
  }
}
